article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1200px;
    margin: 120px auto;
    gap: 25px;
    background: #f8f9fa;

    h2 {
        padding-top:25px;
        padding-bottom: 15px;
    }

    .pirmas {
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            font-size: 105%;
            background-color: white;
            color: $blue;
        }
    }
}

div.pirmas {
    i {
        font-size: 60px;
        color: $blue;
    }
}

  
