@media (max-width: 768px) {
    header {
        max-width: 100%;
        padding: 5px 0;
        
        h4 {
            font-size: 1.3em;
            font-weight: 400;
        }

        .sign {
            font-size: 1.5em;
            font-weight: 400;
        }
      }

    div.form, 
    .form1 {
        margin-top: 150px; 
        margin-bottom: 120px;
        padding: 10px 10px;
        input {
            width: 100%;
            font-size: 1.5em;
        }  
    }

    .form-container,
    .form-container1 {
        font-size: 0.8rem;
        padding: 5px 0;   
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            height: 50px;
            margin-bottom: 15px;
            margin-left: 0;
        }
        button {
            height: 50px;
            margin-bottom: 15px;
            margin-left: 0;
            font-size: 18px;
        }
    }

    .form1 h1 {
        font-size: 1.9rem;
        line-height: 1.1;
        padding: 0 10px;
    }

    h1 {
        width: 100%;
        padding:20px 0;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 80px;
        font-size: 1.25em;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        max-height: 25%;
        
        img {
            width: 100%;
            padding:10px 0px;  
        }
   
        .content-2 {
            order: 0;
        }
        .content {
            order: 1;
        }  
        .content-3 {
            order: 2;
        }
        .content-4 {
            order: 3;
        }
        .content-6 {
            order: 4;
        }
        .content-5 {
            order: 5;
        }
    }

    main {
        display: flex;
        flex-direction: column;

        .content,
        .content-4,
        .content-5,
        .content-2,
        .content-3,
        .content-6 {
            width: 100%;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
            }

            h2 {
                font-size: 2.5em; // Adjust the font size as needed
                margin: 0 50px;
            }

            p {
                font-size: 1.1em;
                margin: 50px;
                line-height: 1.7;
            }
        }
    }

    section h2 {
        font-size: 2em;
        line-height: 1.2;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .footer-list {
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px;
        font-size: 0.9rem;
        line-height: 22px;
    }
}

.text {
    padding: 10px 10px;
    font-size: 0.7rem;
}
    
    
    